<header>
    <nav>
        <div class="navegation">
            <a routerLink="/">Home</a>
            <a routerLink="/projects">Projects</a>
            <a routerLink="/experiences">Experience</a>
            <a routerLink="/skills">Skills</a>
        </div>
    </nav>
    <div class="contact">
        <a href="https://www.linkedin.com/in/rafael-cavalcante-9b49a6230/" target="_blank"><img src="../../../../assets/linkedin.svg" alt=""></a>
        <a href="https://www.instagram.com/rafael.cavalcante29/" target="_blank"><img src="../../../../assets/instagram.svg" alt=""></a>
        <a href="https://github.com/Rafael81716" target="_blank"><img src="../../../../assets/github.svg" alt=""></a>
    </div>
</header>