<h1>My Projects</h1>

<ul class="primary-list">
    <li class="links">
        <a href="http://github.com/Rafael81716/dice-roller" target="_blank" rel="noopener noreferrer">Dice Roller</a>
    </li>
    <ul>
        <li>
            Dice Roller made with HTML, CSS and JavaScript.
        </li>
    </ul>
    <li class="links">
        <a href="http://github.com/Rafael81716/Imposto-de-renda-para-pessoa-fisica" target="_blank" rel="noopener noreferrer">Income tax for individuals</a>
    </li>
    <ul>
        <li>
            Project made with HTML, CSS, Bootstrap and Flask with the purpose of calculating the income tax for brasilian individuals.
        </li>
    </ul>
</ul>

<!--
<table >
    <tr>
        <td>dice roller</td>
        <td><a href="https://github.com/Rafael81716/dice-roller" target="_blank">Click here to access</a></td>
    </tr>
    <tr>
        <td>Imposto de Renda para Pessoa Fisica</td>
        <td><a href="https://github.com/Rafael81716/Imposto-de-renda-para-pessoa-fisica" target="_blank">Click here to access</a></td>
    </tr>
</table>
-->