<footer>
    <div class="description">
        Rafael de Sousa Cavalcante <br />
        <div>Student of Computer Science in UFCG</div>
        
    </div>
    <div>
        <div class="information">
            <img src="../../../../assets/chamada-telefonica.svg" alt="telephone">
            <span>+55 83 99866-7320</span>
        </div>
        <div class="information">
            <img src="../../../../assets/envelope.svg" alt="telephone">
            <span>rafacavalcante081@gmail.com</span>
        </div>
    </div>
</footer>