<div class="container">
    <h1>About me</h1>
    <ul>
        <li> 
            Hello, my name is Rafael de Sousa Cavalcante, and I am a Stundent
            of Computer Science in Universidade Federal de Campina Grande (UFCG) and
            this is my personal portfolio.
        </li>
        <li>
            I am {{age}} years old and I want to become a fullstack developer in IT.
        </li>
        <li>
            I was born in Serra Branca, a city in the state of Paraíba, Brazil.
        </li>
        <li>
            At the age of 16, I went to United Kingdom to a exchange program called "Gira Mundo", 
            organized by the government of the state of Paraíba for a periody of 4 months.
        </li>
    </ul>
</div>