<h1>My Soft and Hard Skills</h1>
<div>
    <table class="softskills">
        <th>My Soft-skills</th>
        <tr>JavaScript</tr>
        <tr>Python</tr>
        <tr>TypeScript</tr>
        <tr>Java</tr>
        <tr>HTML and CSS</tr>
        <tr>MySQL</tr>
        <tr>Angular</tr>
        <tr>Fluency in Portuguese and English</tr>
    </table>

    <table class="hardskills">
        <th>My Hard-skills</th>
        <tr>Good communication</tr>
        <tr>Great at teamwork</tr>
        <tr>Fast Learner</tr>
        <tr>Very Punctual</tr>
        <tr>Respect for deadlines</tr>
    </table>
</div>
